@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

html, body {
  height: 100%;
  font-family: 'Itim', cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-image: url('./images/wood-textures-2-1370212.jpg');
  background-size: cover;
  background-repeat: repeat-y;
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

#message p {
  margin: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: bisque;
}

div.hidden:hover {
  background: rgb(230, 199, 162);
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}

button {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  font-family: 'Itim', cursive;
}

button:hover {
  cursor: pointer
}

.borderBackground {
  border: 2px brown solid;
  border-radius: 10px;
  background-color: bisque;
}